@model WebApplication.Models.Authentication.RegisterModel
@Html.ValidationSummary()
@{
    Layout = "_Layout";
}

<h2>Sign up</h2>

<form asp-controller="Authentication" asp-action="Register" autocomplete="off">
    <label>
        <span>Username:</span>
        <input type="text" name="username" value="">
    </label>
    <label>
        <span>Email:</span>
        <input type="text" name="email" value="">
    </label>
    <label>
        <span>Password:</span>
        <input type="password" name="password" id="register-password" value="">
    </label>
    <br>
    <input type="submit" value="Sign Up">
</form>
